# Decorators-2 Name Directory

Problem from [Here](https://www.hackerrank.com/challenges/decorators-2-name-directory/problem)

Let's use decorators to build a name directory! You are given some information about $N$ people Each people has a;
- First Name
- Last Name
- Age
- Sex
Print Their names in spesific format sorted by their age in ascending order i.e. the youngest peoples's name should be printed first.For two people of the same age, print them in the order of their input.

## Expected Output
For Hanry Davis output should be; 
```
Output: Mr. Hanry Davis
```

## Input Type: 
The First line contains the integer $N$, the number of perople.

$N$ lines follow each containing the space separated values of the first name, last name, age and sex, respectively.

__Constrains:__

$$0 \leq N \leq 10$$

__Concept__
For sorting a nested list based on some parameter, you can use the itemgetter library. You can read more about it here.

## Solutıon

What ı Would like to approach is simple user's give to a function values then in inner function we will reach outter function's values by this way we can use __closures__. Lets write a function for ouuter which contains every input's from users.

__Bu noktadan sonrası tamemen deneysel olarak pratik olmaso adına yazılmıştır çözümle bir ilişkisi bulunmamaktadır__ 

---

In [142]:
## add every possible librarys by import

import numpy as np
import pandas as pd

In [143]:
from distutils.log import info


def outter_fun(**information): ##to use Kwargs we need to specify with "**"
    print(information)
    outter_values = information
    return outter_values

In [144]:
dict1 = {"Name":"Mert","last_Name":"Çukadar","age":10,"sex":"M",}
outter_fun(**dict1)

{'Name': 'Mert', 'last_Name': 'Çukadar', 'age': 10, 'sex': 'M'}

{'Name': 'Mert', 'last_Name': 'Çukadar', 'age': 10, 'sex': 'M'}

In [145]:
## let us prepare our datas
df = pd.DataFrame()

In [146]:
df = df.append(dict,ignore_index=True)
print(df.head())

   Name last_Name  age sex
0  Mert   Çukadar   10   M

/var/folders/1r/pznw71wj7zj5fq__d4pwq6th0000gn/T/ipykernel_51345/2152396972.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(dict,ignore_index=True)

In [147]:
dict2 = {"Name":"Zeynep","last_Name":"Taşkın","age":16,"sex":"F",}
dict3 = {"Name":"Drumuş","last_Name":"Paragöz","age":19,"sex":"M",}
dict4 = {"Name":"Kan","last_Name":"Küstah","age":49,"sex":"F",}
dict5 = {"Name":"Ceren","last_Name":"Dinç","age":26,"sex":"F",}
dict6 = {"Name":"Mert Kaan","last_Name":"Çukadar","age":22,"sex":"F",}
dict7 = {"Name":"Herhangi","last_Name":"biri","age":21,"sex":"M",}
dict8 = {"Name":"Can","last_Name":"Balamir","age":12,"sex":"F",}


globdict = {"dict1":dict1 , "dict2" : dict2 , "dict3": dict3 , "dict4" : dict4 , "dict5" : dict5, "dict6":dict6 , "dict7" : dict7 , "dict8" : dict8}

In [148]:
import string


for i in range(2,8):
    list = "dict" + f"{i}"
    df = df.append(globdict[list],ignore_index=True)
    #df = df.append(list,ignore_index=True)

df

/var/folders/1r/pznw71wj7zj5fq__d4pwq6th0000gn/T/ipykernel_51345/3897221174.py:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(globdict[list],ignore_index=True)
/var/folders/1r/pznw71wj7zj5fq__d4pwq6th0000gn/T/ipykernel_51345/3897221174.py:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(globdict[list],ignore_index=True)
/var/folders/1r/pznw71wj7zj5fq__d4pwq6th0000gn/T/ipykernel_51345/3897221174.py:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(globdict[list],ignore_index=True)
/var/folders/1r/pznw71wj7zj5fq__d4pwq6th0000gn/T/ipykernel_51345/3897221174.py:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(globdict[list],ignore_index=True)
/var/folders/1r/pznw71wj7zj5fq__d4pwq6th0000gn/T/ipykernel_51345/3897221174.py:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(globdict[list],ignore_index=True)
/var/folders/1r/pznw71wj7zj5fq__d4pwq6th0000gn/T/ipykernel_51345/3897221174.py:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(globdict[list],ignore_index=True)

        Name last_Name  age sex
0       Mert   Çukadar   10   M
1     Zeynep    Taşkın   16   F
2     Drumuş   Paragöz   19   M
3        Kan    Küstah   49   F
4      Ceren      Dinç   26   F
5  Mert Kaan   Çukadar   22   F
6   Herhangi      biri   21   M

In [149]:
df

        Name last_Name  age sex
0       Mert   Çukadar   10   M
1     Zeynep    Taşkın   16   F
2     Drumuş   Paragöz   19   M
3        Kan    Küstah   49   F
4      Ceren      Dinç   26   F
5  Mert Kaan   Çukadar   22   F
6   Herhangi      biri   21   M

In [210]:
len(df)
value = df.Name[3]

print(type(value))
liste.append(value)
liste

<class 'str'>

['Zeynep', 'Kan']

In [227]:
def outter(args):
    outter_list = []
    outter_sex = []
    for i in range (7):
        outter_values  = args.Name[i]
        outter_sval = args.sex[i]
        outter_list.append(outter_values)
        outter_sex.append(outter_sval)
        return outter_list, outter_sex , come
    def inner(outter_list , outter_sex):
        for i in range (7):
            if outter_sex[i] == "M":
                come = f"Mr. {outter_list[i]}"
                return come

---